<div class="message" ng-if="messageShow">
  <div class="animated bounceIn" ng-bind="alertMessage">
  </div>
</div>

<div class="curtain" ng-if="menuActive || messageShow" ng-click="$parent.menuActive = !$parent.menuActive"></div>

<score-board game-state="gameState"></score-board>



<div ng-show="$state.includes('game.rosters')" ui-view></div>
<div class="roster-btn" ui-sref="game.rosters" ng-click="rostersActive = !rostersActive">Roster</div>

<div class="game-menu" ng-if="menuActive">
  <div class="btn" scope="option" ng-repeat="option in menuOptions"  menu-option></div>
</div>

<!-- Baseball Diamond -->
<section class="game-area" ng-class="{blur: menuActive}">
  <section class="baseball-diamond">

    <div
    class="btn"
    id="nextPlayerBtn"
    ng-if="!batterActive"
    ng-click="newBatter()"
    >Next Batter</div>

    <div player-batter
      ng-if="batterActive"
      player-object="gameState.bases.atBat"
      ng-click="activateMenu('batter')"
      ng-model="player1"
      class="player"
      data-drag="true"
      jqyoui-draggable
      jqyoui-options="{revert: invalid}"
    ></div>

    <div base-runner
      ng-if="gameState.bases.first"
      id="player2"
      player-object="gameState.bases.first"
      ng-model="player2"
      class="player"
      data-drag="true"
      jqyoui-draggable
      jqyoui-options="{revert: true}"
      ng-click="activateRunner()"
    ></div>

    <div base-runner
      ng-if="gameState.bases.second"
      id="player3"
      player-object="gameState.bases.second"
      ng-model="player3"
      class="player"
      data-drag="true"
      jqyoui-draggable
      jqyoui-options="{revert: true}"
      ng-click="activateRunner()"
    ></div>

    <div base-runner
      ng-if="gameState.bases.third"
      id="player4"
      player-object="gameState.bases.third"
      ng-model="player4"
      class="player"
      data-drag="true"
      jqyoui-draggable
      jqyoui-options="{revert: true}"
      ng-click="activateRunner()"
    ></div>

    <div class=pitcher ng-click="activateMenu('pitcher')"><span>Pitch</span><img src="images/baseball-pitch.png" /></div>

    <div class="tada animated home"
    ng-model="base4"
    ng-show="runnerThird"
    data-drop="true"
    jqyoui-droppable="{onDrop: updateBases('run')}"
    ></div>
    <div class="tada animated home-text" ng-show="runnerThird">RUN HOME!</div>


    <div class="tada single animated"
      ng-model="base1"
      ng-show="showBoxes"
      data-drop="true"
      jqyoui-droppable="{onDrop: updateBases('single', 'first')}"
    ></div>
    <div ng-show="showBoxes && batterSelected" class="animated tada single-text">Single!</div>


    <div class="tada double animated"
      ng-model="base2"
      ng-show="showBoxes"
      data-drop="true"
      jqyoui-droppable="{onDrop: updateBases('double', 'second')}"
    ></div>
    <div ng-show="showBoxes && batterSelected" class="animated tada double-text">Double!</div>


    <div class="tada triple animated"
      ng-model="base3"
      ng-show="showBoxes"
      data-drop="true"
      jqyoui-droppable="{onDrop: updateBases('triple', 'third')}"
    ></div><div class="homerun-text tada animated" ng-show="showBoxes">Home Run!</div>

    <div class="tada homerun animated"
    ng-model="homerunbase"
    ng-show="showBoxes"
    data-drop="true"
    jqyoui-droppable="{onDrop: updateBases('homerun')}"
    ></div>
    <div ng-show="showBoxes && batterSelected" class="animated tada triple-text">Triple!</div>


    <balls-and-strikes class="ballsAndStrikes" game-state="gameState"></balls-and-strikes>

    <div class="stats">
      <br><br>
      <h1>Pitch Count: {{gameState.pitchCount}}</h1>
      <h1>Pitcher: {{activePitcher.activePitcher.name}}</h1>
    </div>

    <!-- Base Paths -->
    <div class="animate fadeInUp">
      <div class="base-surface">
        <figure class="surface-left">
        </figure>
        <figure class="surface-right">
        </figure>
      </div>
      <div class="base-paths">

          <div class="base" id="base-1">
            <div class="cube">
              <figure class="front">
              </figure>
              <figure class="back">
              </figure>

              <figure class="right"></figure>
              <figure class="left">
              </figure>
              <figure class="top"></figure>
              <figure class="bottom"></figure>
            </div>

          </div>
          <div class="base" id="base-2">
            <div class="cube">
              <figure class="front">
              </figure>
              <figure class="back">
              </figure>

              <figure class="right"></figure>
              <figure class="left">
              </figure>
              <figure class="top"></figure>
              <figure class="bottom"></figure>
            </div>

          </div>

          <div class="base" id="base-3">
            <div class="cube">
              <figure class="front">
              </figure>
              <figure class="back">
              </figure>

              <figure class="right"></figure>
              <figure class="left">
              </figure>
              <figure class="top"></figure>
              <figure class="bottom"></figure>
            </div>

          </div>
          <div class="base" id="base-4">
            <div class="cube">
              <figure class="front">
              </figure>
              <figure class="back">
              </figure>

              <figure class="right"></figure>
              <figure class="left">
              </figure>
              <figure class="top"></figure>
              <figure class="bottom"></figure>
            </div>

          </div>

      </div>
    </div>

  </section>

</section>
