a {
  text-decoration: none;
}

.curtain {
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.jumbotron {
  background-image: url('../images/jumbotron.jpeg');
  background-size: cover;
  background-position: right;
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: relative;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.home-menu {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 10;
}


.btn {
  width: 900px;
  height: 150px;
  background-color: #2953A0;
  color: white;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  }

.btn:hover {
  background-color: #214382;
}

.btn:active {
  background-color: #1c386b;
}

.btn-short {
  width: 500px;
  height: 150px;
  background-color: #2953A0;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  }

.btn-short:hover {
  background-color: #214382;
}

.btn-short:active {
  background-color: #1c386b;
}

.scoreboard {
  width: 80vw;
  height: 12.5vh;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  font-size: 3em;
  margin-top: 30px;
}

.scoreboard .row {
  height: 5vh;
  width: 100%;
  border: 5px solid #000000;
}

.scoreboard .small-row {
  height: 2.5vh;
  width: 100%;
  border: 5px solid #000000;
  font-size: 35px;
}

.scoreboard .team-col {
  height: 100%;
  width: 175px;
  display: inline-block;
  float: left;
}

.scoreboard .inning-col {
  max-height: 5vh;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: relative;
}

.scoreboard .runs-col {
  max-height: 5vh;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: relative;
  border-left: 1px solid #000;
}

#teams-smaller-font {
  font-size: 25px;
  position: relative;
}

.baseball-diamond {
  /*background-image: url('../images/diamond-2.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  width: 100vw;
  position: absolute;
  /* top: 25%; */
}

.base-paths {
  height: 600px;
  width: 600px;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  bottom: -25%;
  left: 19%;
  transform-style: preserve-3d;
}

.base-surface {
  height: 680px;
  width: 680px;
  position: absolute;
  bottom: 6%;
  left: 15%;
  background-image: url('../images/k30954002.jpg');
  position: absolute;
  transform: rotateY(0deg) rotateX(-28deg) rotateZ(45deg);
  display:block;
  margin:0;
  transform-style: preserve-3d;
}

.surface-left {
  background-color: #643609;
  transform: translateY(649px) translateX(19px) rotateX(90deg);
  width: 680px;
  height: 100px;
  margin: 0;
  position: absolute;
  display: block;
}

.surface-right {
  background-color: #643609;
  transform: translateX(357px) translateY(307px) rotateY(-90deg) rotateZ(-90deg);
  width:680px;
  height:100px;
  margin:0;
  position:absolute;
  display:block;
}

.base {
  height: 80px;
  width: 80px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-20deg) rotateX(20deg) rotateZ(-4deg);
}

.cube figure {
  width: 78px;
  height: 78px;
  display: block;
  position: absolute;
  margin: 0;
}

.cube .front {
  transform: rotateY(0deg) translateZ(40px);
  background-color: white;
}

.cube .back {
  transform: rotateX(180deg) translateZ(40px);
  background-color: none;
}

.cube .right {
  transform: rotateY(90deg) translateZ(51px) translateY(-8px);
  background-color: black;
  width:40px;
}

.cube .left {
  transform: rotateY(-90deg) translateZ(40px);
  background-color: none;
}

.cube .top {
  transform: rotateX(90deg) translateZ(40px);
  background-color: none;

}
.cube .bottom {
  transform: rotateX(-90deg) translateZ(51px) translateX(-7px);
  background-color: black;
  height: 40px;
}


#base-1 {
  position: absolute;
  top: -5px;
  right: -20px;
}

#base-2 {
  position: relative;
  top: 20px;
  left: 20px;
}

#base-3 {
  position: absolute;
  bottom: -29px;
  left: -2px;
}

#base-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.player {
  height: 150px;
  width: 200px;
  background-color: blue;
  color: white;
  border-radius: 20px;
  position: absolute;
  /*bottom: 0;
  right: 0;*/
  z-index: 1;
  bottom: 0;
  left: 41%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  cursor: pointer;
}

.single {
  border: 5px solid black;
  background-color: #000;
  border-radius: 25px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  right: 25px;
  top: 50%;
  z-index: 1;
}

.single-text {
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  right: 25px;
  top: 50%;
  z-index: 1;
}

.double {
  border: 5px solid black;
  background-color: #000;
  border-radius: 10px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 34%;
  top: 25%;
  z-index: 1;
}

.double-text {
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 34%;
  top: 25%;
  z-index: 1;
}

.triple {
  border: 5px solid black;
  background-color: #000;
  border-radius: 10px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 25px;
  top: 50%;
  z-index: 1;
}

.triple-text{
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 25px;
  top: 50%;
  z-index: 1;
}

.homerun {
  border: 5px solid black;
  width: 80%;
  height: 20%;
  position: absolute;
  top: 6%;
  left: 10%;
  z-index: 9;
  border-radius: 10px;
  background-color: black;
  opacity: 0.8;
}

.homerun-text {
  font-size: 8em;
  position: absolute;
  top: 10%;
  left: 17%;
  color: white;
  z-index: 10;
}

.home {
  border: 5px solid black;
  background-color: #000;
  border-radius: 10px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 25px;
  bottom: 50%;
}

.home-text {
  color: #fff;
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 5;
  bottom: 50%;
  left: 25px;
  font-size: 5em;
}



.home {
  border: 5px solid black;
  background-color: #000;
  border-radius: 10px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
  color: #fff;
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: -88px;
  left: 35%;
}

#player2 {
  left: 75%;
  top: 59%;
}

#player3 {
  top: 27%;
  left: 41%;
}

#player4 {
  top: 57%;
  left: 2%;
}

.pitcher {
  position: absolute;
  top: 64%;
  left: 50%;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #643609;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pitcher img {
  height: 300px;
  width: 300px;
}

.pitcher span {
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pitcher:active {
  top: 66%;
}

#nextPlayerBtn {
  position: absolute;
  bottom: -15%;
  left: 4%;
  z-index: 1;
}

.pregameMenu {
  border-radius: 10px;
  background-color: #FFF;
}



.game-menu {
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  /*height: 49vh;*/
  z-index: 3;
  border-radius: 10px;
  opacity: 1;
}

.game-menu .btn {
  width: 730px;
  margin: 40px auto;
}

.game-area {
  height: 100vh;
  width: 100vw;
}

.ballsAndStrikes {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.strikes-row {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
}

.balls-row {
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
}

.outs-row {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
}

.strike {
  border: 3px solid #000;
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 30px;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.roster {
  border-radius: 10px;
  height: 80vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  padding: 50px;
  box-sizing: border-box;
  overflow: scroll;
}

.roster-btn {
  border-radius: 10px;
  background-color: #2953A0;
  color: white;
  height: 10vh;
  width: 30vw;
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);

}

.roster-btn:active {
  background-color: #1c386b;
}

.stats {
  float: left;
  width: 50vw;
}

.teamSelect {
  height: 400px;
  width: 400px;
}

.roster h1 {
  font-size: 5em;
}

.list-roster {
  font-size: 4em;
}

.list-roster ul {
  list-style-type: none;
}

.roster .btn {
  width: 90%;
  margin-bottom: 50px
}

.roster-item {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 10px;
}

.debug {
  position: absolute;
  bottom: 0;
}

.archive-list {
  font-size: 3em;
}
